h1 {
    margin: 30px 30px 50px 30px;
    /* 스타일 적용 안 됨 오류 */
}
#introduction {
   margin: 0px 30px 90px 30px;
}
h3 {
    margin-bottom: 20px;
}
#introduction > p {
    margin-bottom: 40px;
}
#creategamebtn {
    margin: 0px;
}
#nowplaying, #archives {
    margin: 0px 30px 150px 30px;
    padding-bottom: 300px;
}
.slidebox {
}
.slidecontent {
    position: absolute;
    border: 1px solid;
    width: 250px;
    height: 400px;
    text-align: center;
    margin: 0px 20px;
    padding: 10px 10px;
}
.slidebox > :nth-child(1) {
    margin-left: 130px;
}
.slidebox > :nth-child(2) {
    margin-left: 430px;
}
.slidebox > :nth-child(3) {
    margin-left: 730px;
}
.btncontainer {
    position: absolute;
    overflow: hidden;
    display: table;
    height: 400px;
    background-color: white;
}
.btncontainer > button {
    display: table-cell;
    font-size: 30px;
    vertical-align: middle; /*적용안됨*/
    top: 130px;
}
.theme--light.v-btn.v-btn--has-bg {
    background-color: #00000000;
} /*.btncontainer > button으로 적용 안 되고 이렇게 써야 적용됨. 왜?*/
.btncontainer.left {
    left: 0px;
}
.btncontainer.right {
    right: 0px;
    padding-right: 50px;
}
.thumbnail {
    width: 200px;
    margin: 0px auto;
}