h1 {
    margin: 30px 30px 50px 30px;
    /* 스타일 적용 안 됨 오류 */
}
#introduction {
   margin: 0px 30px 90px 30px;
}
h3 {
    margin-bottom: 20px;
}
#introduction > p {
    margin-bottom: 40px;
}
#creategamebtn {
    margin: 0px;
}
#nowplaying, #archives {
    margin: 0px 30px 90px 30px;
    padding-bottom: 300px;
}
.scrollbox {

}
.scrollbox > div {
    border: 1px solid;
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 0px 20px;
    float: left;
}
.btncontainer {
    display: table;
    position: absolute;
    height: 300px;
}
.btncontainer > button {
    display: table-cell;
    background-color: #00000000;
    font-size: 30px;
    vertical-align: middle; /*적용안됨*/
}
.btncontainer.left {

}
.btncontainer.right {
    right: 100px;
}
.thumbnail {
    width: 200px;
    margin: 0px auto;
}